@{
    Layout = "_Layout";
    ViewData["Title"] = "Registro Asistencia";
    ViewData["Titles"] = "Registros Asistencias";
    var ruta = ViewContext.RouteData.Values["controller"]?.ToString();
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

<div class="container-fluid py-2">
     <div class="row mb-1 mb-md-2"></div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="tblList" class="table table-striped table-bordered nowrap" style="width:100%">
                    <thead class="table-dark">
                        <tr id="tableHeaders"></tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear/Editar Registro Asistencia -->
<div class="modal fade" id="createEditModal" tabindex="-1" aria-labelledby="createEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formCrearEditar">
            @Html.AntiForgeryToken()
            <input type="hidden" id="createEditEntityId" name="id" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createEditModalLabel">Crear/Editar @ViewData["Title"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body" id="dynamicFormFields">
                </div>

                @await Html.PartialAsync("_ModalFooter", "success")
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        window._ruta = '@ruta';
        window._mostrarColumnasDefault = false;
        window._viewTitle = '@ViewData["Title"]';
        window._viewTitles = '@ViewData["Titles"]';
        window._viewIcon = 'fas fa-clock me-2';

        window._columnasPersonalizadas = [

            { data: 'empleadoNombre', label: 'Empleado', type: 'string', includeInForm: false, includeInTable: true },

            { data: 'presupuestoId', label: 'Nº Orden Presupuesto:', type: 'search-youtube', includeInForm: true, includeInTable: false },
            { data: 'presupuestoNombre', label: 'Presupuesto obs.', type: 'string', includeInForm: false, includeInTable: true },
            { data: 'horaEntrada', label: 'Hora Entrada', type: 'datetime', includeInForm: true, includeInTable: true, align: 'right', className: 'text-end fw-bold', render: data => data ? new Date(data).toLocaleString('es-AR') : '' },
            { data: 'horaSalida', label: 'Hora Salida', type: 'datetime', includeInForm: true, includeInTable: true, align: 'right',required: false, className: 'text-end fw-bold', render: data => data ? new Date(data).toLocaleString('es-AR') : '' },
            { data: 'horasTrabajadas', label: 'Total Hs.', type: 'string', includeInForm: false, includeInTable: true, align: 'right', className: 'text-end fw-bold' },
            { data: 'observaciones', label: 'Descripción', type: 'textarea', includeInForm: true, includeInTable: true,required: false }
        ];

    </script>

    <script type="module" src="/js/main.js"></script>
}
