<!DOCTYPE html>
<html lang="es-ar">
    @await Html.PartialAsync("NotLogged/_HeadPartial")
<body class="index-page">

    @await Html.PartialAsync("NotLogged/_HeaderPartialNotLoguin")

    <main class="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("NotLogged/_FooterPartial")

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    @await Html.PartialAsync("NotLogged/_ScriptsPartial")

    @await Html.PartialAsync("Modals/_ClientModal")
</body>
</html>