@await Html.PartialAsync("Logged/_SessionData")

<!DOCTYPE html>
<html lang="es-ar">

@await Html.PartialAsync("Logged/_HeadLogged")

@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();

    var bodyClass = (controller == "Home" && action == "Index")
            ? "index-page"
            : "";
}

<body class="@bodyClass">

    @await Html.PartialAsync("Logged/_HeaderLogged")

    <main id="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    @await Html.PartialAsync("Logged/_FooterLogged")

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    @await Html.PartialAsync("Logged/_ScriptsLogged")

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>