@model string

<div class="modal-footer">
    <button type="button"
            class="btn btn-outline-cancel btn-crear-entity"
            data-bs-dismiss="modal">
        🚫 Cancelar
    </button>

    <button type="submit"
            id="btnGuardarEntidad"
            class="btn btn-primary text-white btn-crear-entity">
        ☑ Guardar
    </button>
</div>
