<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7454256e-5585-42e9-8c96-739b28c69ae1/resourcegroups/WebIngesol20250726151130ResourceGroup/providers/Microsoft.Web/sites/ApiIngesol</ResourceId>
    <ResourceGroup>WebIngesol20250726151130ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7454256e-5585-42e9-8c96-739b28c69ae1/resourceGroups/WebIngesol20250726151130ResourceGroup/providers/Microsoft.ApiManagement/service/ApiIngesolapi/apis/ApiIngesol</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiingesol-b3gfdje9bga8feah.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2aaac62d-041b-43ba-9657-6e16f8befb67</ProjectGuid>
    <MSDeployServiceURL>apiingesol-b3gfdje9bga8feah.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiIngesol</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>