<footer class="border-top footer text-muted" style="background: rgba(0, 0, 0, 0.6); padding: 10px 0;">
    <div class="container text-center">
        <span style="color: #ffffff; font-weight: bold;">&copy; 2025 - WebIngesol</span> |
        <a asp-controller="Home"
           asp-action="Privacy"
           style="color: #dddddd; text-decoration: none;">
            Política de Privacidad
        </a>
        <br>
        <small style="color: #bbbbbb; font-style: italic;">
            Desarrollo y diseño: Carlos M. Espíndola
        </small>
    </div>
</footer>